/* ovo su stilovi za <body>elemente i unutar njega */
body {
    color: red;
    background-color:green;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 20px;
}

h1{font-size: 50px;

}


span{
    font-size: 30px;
}

.yellow-text {
    color:yellow;
}

.underline {
    text-decoration:underline;
}


#drugi{
    color: brown;

}

img {
    width: 100px;
}

div > img {
    width: 50px;
}


#Mario {
    color: blue;
}

span {
    color: palevioletred;
}

.yellow {
    color: yellow;
}
.purple{
color: purple;
}

