html {
  font-size: 16px;
}
/* ovo su stilovi za <body>elemente i unutar njega */
body {
  color: red;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  height: 2000px;
}

input,
textarea,
button {
  font-family: Arial, Helvetica, sans-serif;
}

.navigation {
  display: flex;
  background-color: yellow;
  padding: 20px;
}

.link {
  background-color: orange;
}
